In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import pandas as pd
import os
import sys
sys.path.append("../src/")

from magni_dash.config.constants import TRAJECTORY_SAMPLES_PATH

In [3]:
files  = os.listdir(TRAJECTORY_SAMPLES_PATH)
files_target = list(filter(lambda x: x.endswith("pp.tsv"), files))

In [4]:
df = pd.read_csv(os.path.join(TRAJECTORY_SAMPLES_PATH, files_target[0]), sep = "\t", header = 11, index_col="Frame")

In [5]:
df.shape

(31477, 35)

In [6]:
df = df.dropna(axis = 1, how="all")

In [7]:
df.shape

(31477, 34)

In [8]:
df

,Time,DARKO_Robot - 1 X,DARKO_Robot - 1 Y,DARKO_Robot - 1 Z,DARKO_Robot - 2 X,DARKO_Robot - 2 Y,DARKO_Robot - 2 Z,DARKO_Robot - 3 X,DARKO_Robot - 3 Y,DARKO_Robot - 3 Z,...,Helmet_10 - 1 Z,Helmet_10 - 2 X,Helmet_10 - 2 Y,Helmet_10 - 2 Z,Helmet_10 - 3 X,Helmet_10 - 3 Y,Helmet_10 - 3 Z,Helmet_10 - 4 X,Helmet_10 - 4 Y,Helmet_10 - 4 Z
Frame,,,,,,,,,,,,,,,,,,,,,
1,0.00,1181.413,-352.787,873.157,618.777,266.930,700.140,1478.883,-282.326,312.995,...,1882.521,NaN,NaN,NaN,5994.849,343.744,1820.912,NaN,NaN,NaN
2,0.01,1181.408,-352.762,873.156,618.767,266.912,700.119,1478.876,-282.329,312.969,...,1882.156,NaN,NaN,NaN,5995.005,343.329,1820.728,6119.235,394.056,1821.393
3,0.02,1181.412,-352.787,873.178,618.831,266.936,700.140,1478.894,-282.278,312.987,...,1881.824,NaN,NaN,NaN,5995.073,342.787,1820.536,6118.921,394.271,1820.895
4,0.03,1181.320,-352.713,873.132,618.805,266.900,700.121,1478.881,-282.246,312.990,...,1881.519,NaN,NaN,NaN,5994.967,342.185,1820.291,6118.566,394.364,1820.417
5,0.04,1181.304,-352.687,873.131,618.778,266.925,700.142,1478.861,-282.331,312.967,...,1881.229,NaN,NaN,NaN,5994.767,341.454,1820.088,6118.124,394.355,1819.956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31473,314.72,1181.457,-352.511,872.987,619.250,266.513,699.928,1478.907,-282.448,313.054,...,1887.125,2797.469,-1604.291,1795.877,2796.494,-1534.182,1781.323,2702.859,-1474.689,1854.983
31474,314.73,1181.456,-352.537,872.995,619.239,266.469,699.870,1478.940,-282.430,313.066,...,1887.267,2798.109,-1602.328,1795.788,2796.890,-1532.424,1781.150,2703.023,-1473.074,1854.823
31475,314.74,1181.464,-352.591,873.014,619.269,266.471,699.851,1478.909,-282.465,313.042,...,1887.432,2798.678,-1600.371,1795.629,2797.192,-1530.595,1780.908,2703.174,-1471.503,1854.625
31476,314.75,1181.457,-352.551,872.992,619.248,266.463,699.927,1478.947,-282.403,313.034,...,1887.495,2799.450,-1598.455,1795.688,2797.686,-1528.772,1780.712,2703.375,-1469.920,1854.368
31477,314.76,1181.451,-352.524,872.997,619.249,266.471,699.902,1478.957,-282.424,313.025,...,1887.666,2800.216,-1596.532,1795.584,2798.052,-1526.941,1780.390,2703.569,-1468.350,1854.113

In [9]:
df_2d = df[df.columns[~df.columns.str.endswith("Z")]]

In [10]:
df_2d.isna().sum()

Time                    0
DARKO_Robot - 1 X       0
DARKO_Robot - 1 Y       0
DARKO_Robot - 2 X       0
DARKO_Robot - 2 Y       0
DARKO_Robot - 3 X       0
DARKO_Robot - 3 Y       0
DARKO_Robot - 4 X       0
DARKO_Robot - 4 Y       0
DARKO_Robot - 5 X       0
DARKO_Robot - 5 Y       0
DARKO_Robot - 6 X       0
DARKO_Robot - 6 Y       0
DARKO_Robot - 7 X       0
DARKO_Robot - 7 Y       0
Helmet_10 - 1 X       315
Helmet_10 - 1 Y       315
Helmet_10 - 2 X       913
Helmet_10 - 2 Y       913
Helmet_10 - 3 X      2213
Helmet_10 - 3 Y      2213
Helmet_10 - 4 X       662
Helmet_10 - 4 Y       662
dtype: int64

In [12]:
df_2d = df_2d.interpolate()

In [13]:
df_2d.isna().sum()

Time                  0
DARKO_Robot - 1 X     0
DARKO_Robot - 1 Y     0
DARKO_Robot - 2 X     0
DARKO_Robot - 2 Y     0
DARKO_Robot - 3 X     0
DARKO_Robot - 3 Y     0
DARKO_Robot - 4 X     0
DARKO_Robot - 4 Y     0
DARKO_Robot - 5 X     0
DARKO_Robot - 5 Y     0
DARKO_Robot - 6 X     0
DARKO_Robot - 6 Y     0
DARKO_Robot - 7 X     0
DARKO_Robot - 7 Y     0
Helmet_10 - 1 X       0
Helmet_10 - 1 Y       0
Helmet_10 - 2 X      16
Helmet_10 - 2 Y      16
Helmet_10 - 3 X       0
Helmet_10 - 3 Y       0
Helmet_10 - 4 X       1
Helmet_10 - 4 Y       1
dtype: int64

In [15]:
df_2d[["Helmet_10 - 1 X","Helmet_10 - 1 Y"]]

       Helmet_10 - 1 X  Helmet_10 - 1 Y
Frame
1             6044.859          498.712
2             6044.127          498.560
3             6043.383          498.350
4             6042.573          498.055
5             6041.668          497.623
...                ...              ...
31473         2683.312        -1611.716
31474         2684.191        -1610.185
31475         2685.082        -1608.603
31476         2686.024        -1606.961
31477         2686.986        -1605.356

[31477 rows x 2 columns]

In [18]:
s = files_target[0]

In [19]:
s

'Qualysis_280922_SC6A_H10_P2_pp.tsv'

In [20]:
import re

In [32]:
a = re.search(r"H\d", s)

In [33]:
a.group(0)

'H1'

In [50]:
regex_pattern = re.compile(r"H\d+")

In [53]:
regex_pattern.findall(s)[0][1:]

'10'