In [1]:
%load_ext autoreload
%autoreload 2

import os
import pandas as pd
import sys

from magni_dash.data_preprocessing.spatio_temporal_features import SpatioTemporalFeatures
from magni_dash.config.constants import TRAJECTORY_SAMPLES_PATH, TRAJECTORY_DATA_TYPE

In [2]:
os.listdir(os.path.join(TRAJECTORY_SAMPLES_PATH, "Scenario1"))

['Qualisys_170522_SC1B_R01_pp.tsv', 'Qualisys_170522_SC1A_R02_pp.tsv']

In [3]:
df_path = os.path.join(TRAJECTORY_SAMPLES_PATH, "Scenario1",'Qualisys_170522_SC1B_R01_pp.tsv')
sep="\t"
header=11
index_col="Frame"
height_suffix = "Z"

In [4]:
raw_df = pd.read_csv(
    df_path,
    sep=sep,
    header=header,
    index_col=index_col,
)
if TRAJECTORY_DATA_TYPE == "2D":
    raw_df = raw_df[raw_df.columns[~raw_df.columns.str.endswith(height_suffix)]]

raw_df = raw_df.dropna(axis=1, how="all")
raw_df = raw_df.loc[
    :,
    (~raw_df.columns.str.contains("^Unnamed"))
    & (~raw_df.columns.str.contains("Type")),
]

In [6]:
raw_df.columns.str.endswith("X")

array([False,  True, False,  True, False,  True, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False,  True, False,  True, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False,  True, False,  True, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False,  True, False,  True, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False,  True, False])

In [7]:
raw_df[raw_df.columns[raw_df.columns.str.endswith("X")]]

,Helmet_10 - 1 X,Helmet_10 - 2 X,Helmet_10 - 3 X,Helmet_10 - 4 X,Helmet_5 - 1 X,Helmet_5 - 2 X,Helmet_5 - 3 X,Helmet_5 - 4 X,Helmet_5 - 5 X,Helmet_1 - 1 X,...,Helmet_6 - 3 X,Helmet_6 - 4 X,Helmet_6 - 5 X,DARKO - 1 X,DARKO - 2 X,DARKO - 3 X,DARKO - 4 X,DARKO - 5 X,DARKO - 6 X,DARKO - 7 X
Frame,,,,,,,,,,,,,,,,,,,,,
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8742.446,...,-1517.984,-1498.626,-1388.430,-3886.851,-3821.613,-4648.769,-4148.666,-4721.363,-4509.950,-4888.782
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8743.438,...,-1516.088,-1488.304,-1385.905,-3886.722,-3821.525,-4638.006,-4148.712,-4721.443,-4509.882,-4888.813
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8741.762,...,-1514.042,-1485.841,-1383.328,-3886.781,-3821.548,-4637.884,-4144.491,-4721.601,-4509.807,-4888.828
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8743.643,...,-1507.979,-1483.205,-1380.888,-3886.777,-3821.613,-4637.965,-4138.977,-4721.429,-4509.971,-4888.788
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8743.100,...,-1506.071,-1488.118,-1378.449,-3886.765,-3821.618,-4637.900,-4144.508,-4721.524,-4509.811,-4888.790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23894,NaN,NaN,NaN,NaN,5887.550,5819.521,5948.433,5890.548,5844.484,6081.148,...,-1520.475,-1565.016,-1491.163,-3885.950,-3821.153,-4646.340,-4140.973,-4721.325,-4509.613,-4888.061
23895,NaN,NaN,NaN,NaN,5894.636,5826.278,5954.040,5897.000,5850.951,6092.633,...,-1520.576,-1564.752,-1490.452,-3885.933,-3821.115,-4646.324,-4140.951,-4721.210,-4509.270,-4888.067
23896,NaN,NaN,NaN,NaN,5901.419,5832.421,5960.661,5903.290,5857.259,6103.468,...,-1520.760,-1564.226,-1489.433,-3885.855,-3821.213,-4646.393,-4141.023,-4721.302,-4509.462,-4888.076
23897,NaN,NaN,NaN,NaN,5907.793,5838.635,5967.141,5909.450,5863.437,6115.693,...,-1520.924,-1563.931,-1488.289,-3885.860,-3821.091,-4646.381,-4147.684,-4721.246,-4509.198,-4888.161
23898,NaN,NaN,NaN,NaN,5914.951,5846.079,5974.862,5916.397,5870.400,6127.391,...,-1521.189,-1563.688,-1494.677,-3885.889,-3821.202,-4646.368,-4138.206,-4721.222,-4509.275,-4888.167

In [8]:
x_coordinate  = raw_df[raw_df.columns[raw_df.columns.str.endswith("X")]]

In [9]:
set(x_coordinate.columns.str.split(" - ").str[0])

{'DARKO',
 'Helmet_1',
 'Helmet_10',
 'Helmet_2',
 'Helmet_4',
 'Helmet_5',
 'Helmet_6',
 'Helmet_8'}

In [10]:
x_coordinate[x_coordinate.columns[x_coordinate.columns.str.startswith("DARKO")]]

,DARKO - 1 X,DARKO - 2 X,DARKO - 3 X,DARKO - 4 X,DARKO - 5 X,DARKO - 6 X,DARKO - 7 X
Frame,,,,,,,
14,-3886.851,-3821.613,-4648.769,-4148.666,-4721.363,-4509.950,-4888.782
15,-3886.722,-3821.525,-4638.006,-4148.712,-4721.443,-4509.882,-4888.813
16,-3886.781,-3821.548,-4637.884,-4144.491,-4721.601,-4509.807,-4888.828
17,-3886.777,-3821.613,-4637.965,-4138.977,-4721.429,-4509.971,-4888.788
18,-3886.765,-3821.618,-4637.900,-4144.508,-4721.524,-4509.811,-4888.790
...,...,...,...,...,...,...,...
23894,-3885.950,-3821.153,-4646.340,-4140.973,-4721.325,-4509.613,-4888.061
23895,-3885.933,-3821.115,-4646.324,-4140.951,-4721.210,-4509.270,-4888.067
23896,-3885.855,-3821.213,-4646.393,-4141.023,-4721.302,-4509.462,-4888.076
23897,-3885.860,-3821.091,-4646.381,-4147.684,-4721.246,-4509.198,-4888.161
23898,-3885.889,-3821.202,-4646.368,-4138.206,-4721.222,-4509.275,-4888.167

In [11]:
x_coordinate[x_coordinate.columns[x_coordinate.columns.str.startswith("Helmet_10 ")]].columns.str.split(regex=r" (/d) ").str[2]

Index(['1', '2', '3', '4'], dtype='object')

In [12]:
x_coordinate[x_coordinate.columns[x_coordinate.columns.str.startswith("DARKO ")]].columns.str.split(regex=r" (/d) ").str[2].tolist()

['1', '2', '3', '4', '5', '6', '7']

In [13]:
x_coordinate.columns.str.contains("DARKO - 1")

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False])